@font-face {
  font-family: first-font;
  src: url(/Roboto/Roboto-Medium.ttf);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#content {
  padding: 16px;
}

#main {
  overflow-x: hidden;
}

.carousel1 .owl-item .active img {
  width: 365px;
  height: 434px;
}


#banner .container-fluid {
  padding: 0;
  margin-block: 0;
}

#banner video {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.nav .nav-link {
  color: white;
}

.container-fluid .nav {
  transform: translateY(-2.5em);
}

/********************************************side-bar****************************************/

.offcanvas-body .form-control {
  width: 953px;
  border-radius: 16px;
  background-color: rgb(244, 244, 244);
  margin-left: calc(-15%);
  height: 46px;

}

.navbar-feature {
  transform: translate(5em, -16%);
  display: inline;
  letter-spacing: 8px;
  fill: color;
}

.offcanvas-components .d-flex .form-control {
  margin: 0 auto;
  transform: translate(2em, -1em);
}

/***********************dropdown-content************/
.dropdown-menu {
  border-radius: 0;
  padding: .5em;
  border: none;
  box-shadow: 0 3px 6px rgb(0, 0, 0, .23);
  object-fit: cover;
}

.dropdown-menu ul {
  list-style: none;
  padding: 0;
}

.dropdown-menu.show {
  display: flex;
}

.dropdown-menu li a {
  color: gray;
  padding: .5em 1em;
  font-family: "Archivo", sans-serif;
  text-decoration: none;
}

.dropdown-menu li:first-child a {
  font-weight: bold;
  font-size: 1.2em;
  color: #000;
  font-family: "/Roboto/Roboto-Bold.ttf";
}

.dropdown-menu.show {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  background-color: white;
  z-index: 999;
}




#banner .banner-ad {
  position: absolute;
  transform: translate(3rem, -20rem);
}

.banner-ad .banner-text {
  color: white;
}

.banner-ad button {
  background-color: white;
  border-radius: 15px;
  min-height: 3rem;
  width: 7rem;
}

.banner-ad .text1 {
  font-size: clamp(3rem, 50%, 5rem);
}

.banner-ad .text2 {
  font-size: 1rem;
}

.dropdown-image .col-lg-3 img {
  height: 195px;
  width: 330px;
  display: inline-flex;
  transition: translateY(-40%);
}

.dropdown-image {
  left: 10rem;
  white-space: nowrap;
  overflow-x: hidden;
  font-family: "Archivo", sans-serif;
}


.dropdown-menu .mega-menu-text {
  margin-left: 7%;
}

.collection .row .col-lg-3 img {
  height: 195px;
  width: 330px;
  grid-template-rows: 15px;
}

.collection .row2 {
  padding: 20% 0;
  margin-left: -101.2%;
}

.collection .row1 {
  margin-left: calc(-2%);
}

.collection .row2 .col-lg-3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#carouselExample {
  margin-bottom: 4rem;
  font-family: "/Roboto/Roboto-Medium.ttf";
}

#carouselExample .carousel-item img {
  height: 513px;
  width: 365px;
}

#slider {
  margin-top: 96px;
}

.owl-carousel .thumbnail img {
  position: relative;
}

.owl-carousel .item .thumbnail span {
  transform: translate(calc(14.85555rem));
  position: absolute;
  top: calc(6.7%);
}

.item .thumbnail .bi-suit-heart:hover path {
  fill: red;
}

.owl-nav {
  transform: translateY(-30rem);
  margin: 10px 10px 0px 85rem;
  width: fit-content;
}

.owl-nav button {
  font-size: xx-large !important;
  font-weight: lighter;
}

#content {
  margin-top: 5rem;
}

/************************conten1*******************/
.conten1 .col-lg-5 img {
  width: 780px;
}

.conten1 .cote1 {
  padding-left: 20rem;
  padding-top: 10%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.conten1 .cote1 h4 {
  font-family: "Archivo", sans-serif;
  font-size: 26px;
  font-weight: 800;
  line-height: 36px;
  color: #292929;
  margin-bottom: 16px;
  width: 100%;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.content1 .cote1 p {
  font-family: "Archivo", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  color: #545454;
  margin-bottom: 16px;
  width: 100%;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.conten1 .cote1 .btn6 {
  width: 6.5rem;
  display: flex;
  align-items: center;
}

/**************************content2********************/
.conten2 {
  margin-top: 5rem;
}

.conten2 .row .embed-responsive-item {
  width: 668px;
  height: 668px;
}

.container-fluid .col-lg-6 {
  position: relative;
}

.container .col-lg-6 h5,
.btn1 {
  position: absolute;
  transform: translate(70%);
  top: 75%;
  height: 3rem;
}

.col-lg-6 .in-image {
  position: absolute;
  transform: translate(3.5rem, 21rem);
  top: 15%;
  color: white;
  font-size: 45px;
}

.container .col-lg-6 h3,
.btn2 {
  position: absolute;
  transform: translate(80%);
  top: 75%;
  height: 3rem;
}


#footer {
  background-color: rgb(244, 244, 244);
  padding-top: 3.3rem;
  width: inherit;
  font-family: "Roboto/oboto-Light.ttf";
}

#footer .row .col-lg-8 {
  display: flex;
  color-scheme: white;
}

#footer .row .col-lg-4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  align-content: center;
}

#footer .row .col-lg-4 .btn {
  height: 2.6rem;
  display: flex;
  margin-top: 1rem;
  justify-content: center;
  background: white;
  border-radius: 15px;
  border: 0.1px solid;
  transform: translate(0, -13px);
  align-items: center;
}

#footer .row .col-lg-4 .btn:hover {
  color: white;
  background: orangered;
}

#footer .row .col-lg-4 .icon-footer {
  display: flex;
  align-items: center;
}

#footer .row .col-lg-4 .icon-footer span {
  padding: 3rem 1.2rem;
}

.col-lg-8 .col>h5>h6 {
  font-family: "Archivo", sans-serif;
  font-weight: normal;
  color: #545454;
  font-weight: 300;
  font-size: 12px;
}

.col-lg-8 .col p {
  font-weight: normal;
  font-size: small;
  font-size: clamp(10px, 1vw + 1.1rem, 12px);
}

#footer .row {
  padding-bottom: 2.5rem;
  display: flex;
}

#footer .row .col-12.col-md-6 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#footer .col-lg-8 h5,
#footer .col-lg-8 h6 {
  font-size: medium;
  font-weight: normal;
}

#footer .icon-footer span:hover {
  color: bisque;
}


.header {
  transition: all 0.3s ease;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  overflow: hidden;
}

.nav {
  transition: all 0.3s ease;
  max-height: 0;

}

.folded {
  max-height: 100px;
}

#card-table {
  margin-top: 50px;
}


#cart-table img {
  width: 70px;
}

tbody .image {
  display: flex;
  align-items: center;
}

tbody input {
  width: 25%;
  border-radius: 5px;
}

#cart-table {
  width: 70%;
  margin-top: 30px;
  text-align: center;
  padding-top: 30px;
}

#cart-table table {
  width: auto;
}

#cart-table table thead tr th:first-child {
  text-align: center;
}

#cart-table table thead tr th:last-child {
  text-align: right;
}

#cart-table table tbody td:last-child {
  text-align: right;
}

#cart-table table tr td {
  border-bottom: 1px solid #ddd;
  padding: 12px 0;
}

#cart-table .price-total {
  margin-top: 10px;
  font-weight: bolder;
  text-align: right;
}

#cart-table .price-total p {
  display: inline;
}

/*****************cart*******/
#cart-table {
  height: 70vh;
  width: 500px;
  right: 0;
  top: 0;
  background-color: #d8a0a0;
  padding: 12px auto;
  overflow-y: scroll;
  right: -100%;
  z-index: 9999;
  transition: all 0.3s ease;
}

.cartIcon {
  cursor: pointer;
}

#cart-table .btn-close {
  cursor: pointer;

}

.container .button-close {
  transform: translateX(-12.5rem);
}